/* Default styles for small screens */
body {
    background-color: peru; /* Background color for small screens */
    color: bisque; /* Text color for small screens */
    font-family: Arial, sans-serif; /* Font family for small screens */
}

main {
    background-color: saddlebrown; /* Background color for main content */
    color: gainsboro; /* Text color for main content */
}

/* Media query for larger screens */
@media (min-width: 750px) {
    body {
        background-color: maroon; /* Background color for large screens */
        color: moccasin; /* Text color for large screens */
        font-family: Georgia, serif; /* Font family for large screens */
    }
}
