/* Basic styles for small screens */
body {
  background-color: peru;
  color: bisque;
  font-family: Arial, sans-serif;
}

main {
  background-color: saddlebrown;
  color: gainsboro;
}

/* Styles for larger screens */
@media (min-width: 750px) {
  body {
    background-color: maroon;
    color: moccasin;
    font-family: Georgia, serif;
  }
}
